secrets:
    api-key: "{{ link_service_api_key }}"
database:
    host: "{{ postgresql_host }}"
    port: "{{ postgresql_port }}"
    user: "{{ postgresql_username }}"
    database: "{{ postgresql_civcubed_database }}"
    password: "{{ postgresql_password }}"
